
.button-collapse-in-home-page {
    width: 28%;
}

@media screen and (max-width: 767px) {
     .button-collapse-in-home-page {
        padding-bottom: 20px;
        width: 100%;
    }
} 

/* @media screen and (max-width: 991px) {
    .collapse-in-home-page .button-collapse-in-home-page {
        width: 30%;
    }
} */

.collapse {
    background-color: #fff;
    border-radius: 20px;
}

.collapse .title-in-collapse:hover {
    cursor: pointer;
} 

@media screen and (max-width: 767px) {
    .collapse .title-in-collapse {
        font-size: 18px;
    }
} 

.collapse .title-in-collapse {
    align-items: center;
    background-color: #7819ff;
    border: 2px solid #c7ff06;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 #fff;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px 15px;
} 

.collapse .title-in-collapse .arrow-to-close {
    transform: rotate(0deg);
	transition: 0.4s ease-in-out; 
} 

.collapse .title-in-collapse .arrow {
    transform: rotate(180deg);
	transition: 0.4s ease-in-out; 
} 

@media screen and (max-width: 767px) {
    .collapse .title-in-collapse .arrow {
        height: 10px;
        width: 18px;
    }
} 

.collapse .collapse-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 200px; 
} 

.collapse-content {
    height: 415px;
} 

 .collapse-content .details-skills {
    padding-left: 15px;
    padding-top: 5px;
} 

