
.button-collapse-in-home-page {
    width: 28%;
} 

.collapse {
    background-color: #fff;
    border-radius: 20px;
}

.collapse .title-in-collapse:hover {
    cursor: pointer;
} 

.collapse .title-in-collapse {
    align-items: center;
    background-color: #7819ff;
    border: 2px solid #c7ff06;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 #fff;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px 15px;
} 

.collapse .title-in-collapse .arrow-to-close {
    transform: rotate(0deg);
	transition: 0.4s ease-in-out; 
} 

.collapse .title-in-collapse .arrow {
    transform: rotate(180deg);
	transition: 0.4s ease-in-out; 
} 

.collapse .collapse-content {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    width: 200px; 
} 

.collapse-content {
    height: 415px;
} 

 .collapse-content .details-skills {
    padding-left: 15px;
    padding-top: 5px;
} 

/* Le code ci-dessous correspond à la version responsive uniquement */ 
 
/* @media screen and (max-width: 1024px){
    .collapse .collapse-content {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        width: 200px; 
    } 
} 

@media screen and(max-width: 576px){
    .collapse .collapse-content { 
        font-size: 12px;
        font-weight: 600;
        line-height: 24px;
        width: 200px; 
    } 
}  */

@media screen and (max-width: 576px) {
    .collapse .title-in-collapse .arrow {
        height: 10px;
        width: 18px;
    }
} 

@media screen and (max-width: 576px) {
    .collapse .title-in-collapse {
        font-size: 18px;
    }
} 

@media screen and (max-width: 1024px) {
    .button-collapse-in-home-page {
       width: 30%; 
   }
} 
 
@media screen and (max-width: 576px) {
    .button-collapse-in-home-page {
       width: 100%; 
    }
} 