.banner-section {
    padding: 80px 150px;
}

@media screen and (max-width: 992px) {
    .banner-section {
        padding: 80px 100px;
    }
}

@media screen and (max-width: 768px) {
    .banner-section {
        padding: 40px 20px;
    }
}

.banner-container{
    position: relative;
    height: 200px;
}

.banner-container .img-banner {
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 #3d434a;
    height: 100%;
    /*L'image s'adaptera au dimension donnée */ 
    object-fit: cover;
    width: 100%; 
    /* Diminue la luminosité*/  
    filter: brightness(90%);
}

.banner-section .title-banner {
    color: #380101;
}

@media screen and (max-width: 768px) {
    .banner-container .title-banner {
        font-size: 28px;
    }
}

@media screen and (max-width: 992px) {
    .banner-container .title-banner {
        width: 90%;
    }
}
.banner-container .title-banner {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 600;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}


